	/* preloader */

	.loading-container {
	    position: fixed;
	    background-color: #f9f9f9;
	    z-index: 999999999;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    cursor: wait;
	}
	/* CSS Document */

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    margin: 0;
	}
	input[type=number] {
	    -moz-appearance: textfield;
	}
	html,
	body {
	    height: 100%;
	}
	body {
	    margin: 0 !important;
	    padding: 0 !important;
	    background: #fff;
	    font-size: 14px;
	    color: #414a50;
	    font-family: 'Roboto', sans-serif !important;
	    position: relative;
	}
	a,
	a:hover,
	a:focus {
	    text-decoration: none;
	    outline: none;
	}
	ul{
		padding:0;
	}
	ul li {
	    list-style-type: none;
	}
	img {
	    border: 0 none;
	}
	button,
	input {
	    outline: none;
	}
	/***** HEADER TOP ********/

	body {} header {
	    position: fixed;
	    z-index: 999;
	    width: 100%;
	}

	.container {width: 960px;}
	.custom-container-header {
	    background-color: #fff;
	}
	.custom-content {
	    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	    margin-top: 13px;
	}
	header .header-top .block-search {
	    display: none;
	}
	#home .header-top .top-logo a.logo-link {
	    display: block;
	    padding-top: 10px;
	}
	#home .content-create .home-main-create .para-main-create a,
	.content-create .home-list-create ul li a {
	    display: block;
	    margin-top: 10px;
	}
	#home .header-top {
	    background-color: #fff;
	    padding: 0px 0px 10px 0px;
	}
	#home .nav-top .ic-topbar {
			display: block;
			margin: 13px auto;
			text-align: center;
	}
	#home .nav-top {
		background-color: #950700;
		height: 50px;
	}
	#home .nav-top .box-lang-top {
	    float: right;
	    padding-right: 0px;
    	text-align: right;
	}
	#home .header-top .topbar .top-nav {
	    margin-top: 25px;
	    padding-right: 0px;
	}
	.box-hotline-top p {
	    color: #e4e4e4;
	    padding: 9px 0px 0px 0px;
	    ;
	}
	.box-hotline-top p .fa-phone {
	    margin-right: 10px;
	}
	#home .header-top .topbar .top-nav .navbar-custom {
	    margin-bottom: 0px;
	    min-height: 0px;
	    padding-right:0px;
	}
	#home .header-top .topbar .top-nav ul {
	    float: right;
	}
	#home .header-top .topbar .top-nav ul li {
	    float: left;
	    padding-bottom: 9px;
	    margin-right: 25px;
	}
	#home .header-top .topbar .top-nav ul li:last-child{
		margin-right: 0px;
	}
	#home .header-top .topbar .top-nav ul li.active {
	    border-bottom: 2px solid #f04e4e;
	}
	#home .header-top .topbar .top-nav ul li.active a {
	    color: #f04e4e;
	}
	#home .header-top .topbar .top-nav ul li a {
	    color: #5a5a5a;
	    font-weight: bold;
	    font-size: 14px;
	    padding: 0;
	    text-transform: uppercase;
	}
	#home .header-top .topbar .top-nav ul li a:hover {
	    background-color: #fff;
	    color: #d84e56;
	}
	#home .header-top .topbar .top-logo {} #home header .top-search {
	    display: inline-block;
	}
	#home header .top-search input[type=search] {
	    border: none;
	    border-radius: 19px;
	    padding: 4px 3px 4px 13px;
	    width: 100%;
	}
	/* **** SLIDER ********/
	.box-content .box-slider .bg-slider1
													{background: url('../images/bg-slide.png') no-repeat center center;
													height:718px;
													background-size: cover;}
	.box-content .box-slider .bg-slider2
													{background: url('../images/bg-slide.png') no-repeat center center;
													height:718px;
													background-size: cover;}
	.box-content .box-slider .bg-slider3
													{background: url('../images/bg-slider3.jpg') no-repeat center center;
													height:718px;
													background-size: cover;}
	.box-content .box-slider .bg-slider4
													{background: url('../images/bg-slider4.jpg') no-repeat center center;
													height:718px;
													background-size: cover;}
	.bg-slider-in		{width: 50%;}
	.box-slider .bg-slider-text
													{padding-top:120px;}
.bg-slider .form-compare button{
	background-color: #fff;
	color:#000;
	border: none;
	padding:5px 10px;
	font-size:14px;
	margin-top:20px;
	font-weight: bold;
}
	.bg-slider h3.title-slider,
	.bg-slider p.para-slider,
	.text-top-detail h3

													{color:#fff;
													text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.41);
													font-family:'Conv_Gotham-Ultra',Sans-Serif;
													font-size: 48px;}
	.text-top-detail h3{
		margin-top:60px;
	}
	.bg-slider .short-desc-slide{
		color:#fff;
		font-size: 18px;
		font-family: 'HelveticaNeue', 'Arial', sans-serif;
	}
	.bg-slider h3.title-home
													{color:#fff;
													font-size: 24px;
													font-family:'Conv_Gotham-Ultra',Sans-Serif;}
	.bg-slider p.para-slider
													{font-size: 16px;
													color:#34495e;
													font-weight: 200;}
	.para-slider		{font-size: 16px;
													font-weight: 200;}

	.form2						{background-color: #fff;
											    width: 47%;
													display: inline-block;
											    padding: 14px 20px;
											    margin: 20px 12px 15px 0px;}
	.form3 input, .form2 input
													{outline: none;
													width: 90%;
													border:none;}
	.form3						{background-color: #fff;
											    width: 75%;
											    display: inline-block;
											    padding: 14px 20px;
											    margin: 20px 12px 15px 0px;}
	.form3 span	{float: right;
	    										padding-top: 4px;}
	.form2 span	{color:#34495e;
													font-size: 18px;
													font-weight: 400;}
	.form2 input
													{padding: 10px 7px;
	    										width: 207px;
												  border: none;
													outline:none;}
	.form2 .dropdown-your-money
													{border: none;
	    										background-color: #fff;}

	/***** BOX NEWS ********/
.in-news-features,
.news-features{
		padding: 0;
	}
.news-features,
.hot-news{
	padding:22px 0px;
}
	.in-news-features .box-item-news
	{
		position: relative;
		padding:0;
	}

	.box-item-news .link-image{
		position: relative;
		margin: 10px 0px;
	}

	.box-item-news .link-image a{
		width: 295px;
		height: 295px;
		display: block;
		overflow: hidden;

	}
	.box-item-news .link-image img{
		width: 100%;
	}
	.box-item-news .caption{
		position: absolute;
		z-index: 99;
		bottom: 0;
		left: 0;
		padding: 28px;
	}
	.box-item-news .caption .title-item{
		height: 114px;
    overflow: hidden;
	}
	.box-item-news .caption .title-item a{
		color:#fff;
		text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.41);
		font-family:'Conv_Gotham-Ultra',Sans-Serif;
		font-size: 24px;
		line-height: 28px;
	}
	.box-item-news .caption .title-item a span
	{
		display: block;
		margin-top: 10px;
	}


	h3.title-home{color:#950700;
	font-size: 24px;
	font-family:'Conv_Gotham-Ultra',Sans-Serif;}
.hot-news ul,
.hot-news ul li{
	overflow: hidden;
}
.hot-news ul{
	margin-top:21px;
}
.hot-news ul li{
	border-bottom:1px solid #ececec;
}
.hot-news ul li:last-child{
	border-bottom: inherit;
}
.list-item .img-list-item{
	padding: 0px;
	overflow: hidden;
}
.list-item .img-list-item a{
	display: block;
	width: 101px;
	height: 101px;
	overflow: hidden;
}
.list-item .img-list-item a img{
	width: 100%;
}
.link-item{
	padding: 8px 0px 8px 10px;
}
.text-top-detail .time-post,
.info-more .time-post,
.link-item .time-post{
	color:#b9b9b9;
	font-size: 10px;
	border-right: 1px solid #ececec;
  padding-right: 10px;
}
.text-top-detail .topic,
.text-top-detail .time-post{
	font-size: 14px !important;
	color:#fff !important;
}
.text-top-detail .topic,
.info-more .topic,
.link-item .topic{
	text-transform: uppercase;
	color:#b9b9b9;
	font-size: 10px;
	padding-left: 10px;
	font-family:'Conv_Gotham-Ultra',Sans-Serif;
}
.info-more .topic,
.info-more .time-post{
	font-size: 14px !important;
}
.link-item p{
	margin: 0;
}
.link-item .link-title-item {
	display: block;
	height: 65px;
	overflow: hidden;
}
.link-item a h3{
	font-size: 14px;
	margin: 12px 0px 0px 0px;
	font-weight: bold;
	font-family: 'HelveticaNeue', 'Arial', sans-serif;
	line-height: 18px;
	color: black;
}
/* VIDEO */
.content-video{
	margin:28px 0px;
}
.box-video{
	background: url('../images/bg-video.png') no-repeat 0 0;
	height: 370px;
	background-size: cover;
}
.in-box-video,
.in-box-video .list-video{
	padding:0;
}
.link-video a{
	display: block;
	width: 290px;
	height: 168px;
	overflow: hidden;
}
.title-item-video{
	text-align: center;
}
.title-item{
	margin-top: 10px;
}
.line-video {
	display: block;
	margin:15px 0px;
}
.title-item a{
	color:#fff;
	font-weight: bold;
	font-family: 'HelveticaNeue', 'Arial', sans-serif;
	font-size: 14px;
}
.title-home-video{
	color:#fff !important;
	margin-top: 47px;
}
/*DETAIl*/
.bg-detail{
	background: url('../images/bg-slide.png') no-repeat 0 0;
	height: 682px;
	padding-top: 64px;
}
.detail-page{
	overflow: hidden;
    position: relative;
    top: -60px;
    left: 0;
    z-index: 99;
    background-color: #fff;
}
.detail-content{
	padding: 0px 20px !important;
overflow: hidden;
}
.img-detail img{
	width: 100%;
}
.hot-news-detail{
	padding-top:0px !important;}
.news-more-detail{
	margin-top: 0px !important;
}
.detail-content .link-relate ul li{
	margin: 0px 0px 10px 0px;
}
.detail-content .link-relate ul li a{
	font-size: 18px;
	font-family: 'HelveticaNeue', 'Arial', sans-serif;
	font-weight: bold;
	color: #950700;
}
.detail-content .link-relate ul li a:hover,
.link-news-more .title-item:hover{
	color:#000000;
}
.detail-content .full-content p{
	color: #A5A5A5;
	margin: 10px 0px;
}
.lang-detail{
	padding: 0px;
}
.lang-detail ul li {
	display: inline-block;
	border-right: 1px solid #525252;
	padding: 0px 5px;
}
.lang-detail ul li:last-child{
	border-right: inherit;
}
.lang-detail ul li a,
.time-detail p{
	color:#fff;
	font-size: 12px;
}
.lang-detail ul li a:hover,
.link-item a:hover h3,
.title-item a:hover,
.link-item .topic:hover,
.info-more .topic:hover{
color: #e44840;
}
.short-desc-detail p{
	color:#fff;
	font-size: 18px;
	margin-top: 26px;
	height: 103px;
	overflow: hidden;
}
.detail-page{
	top:0px;
}
.in-video-more{
	padding: 15px 0px 0px 0px !important;
}
/* SEARCH */
#wrap {
  display: inline-block;
  height: 60px;
  float: right;
  padding: 0;
  position: relative;
}

input[type="text"] {
  height: 60px;
  font-size: 20px;
  display: inline-block;
	background-color: #950700;
  font-weight: 100;
  border: none;
  outline: none;
  color: #fff;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: -16px;
  right: 0;
  background: none;
  z-index: 4;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
	color:#fff;
}

input[type="text"]:focus {
  width: 300px;
	background-color: #950700;
  z-index: 1;
	height: 52px;
  cursor: text;
}
input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
  float: right;
  background: url('../images/ic-search@2x.png') center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: -22px;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 1;
}

/* NEWS MORE */
.in-video-more{
	padding-top:20px !important;
}
.top-news-more{
	margin-top: 18px;
}
.list-news-more
	{
		margin: 10px 0px 7px 0px;
	  border-bottom: 1px solid #ececec;
	  padding: 6px 0px 18px 0px !important;
	}
.list-news-more:last-child{
	border-bottom: inherit;
}
.in-video-more ul{
	overflow: hidden;
}
.pagination-pages{
	text-align: center;
	margin: 24px 0px;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover{
	background-color: #950700;
	color:#fff;
}
.pagination>li>a{
	color:#000;
}
.in-video-more,
.list-news-more,
.img-news-more,
.link-news-more{
	padding:0px;
}
.img-news-more a{
	width: 300px;
	height: 200px;
	display: block;
	overflow: hidden;
}
.img-news-more a img{
	width: 100%;
}
.link-news-more .title-item{
	font-size: 18px;
	font-family: 'HelveticaNeue', 'Arial', sans-serif;
	font-weight: bold;
	color: #950700;
	line-height: 24px;
}
/*TOP*/
.link-list-more .title-item-top{
	font-size: 14px;
	font-family: 'HelveticaNeue', 'Arial', sans-serif;
	color: #979797;
}
.top-news-more ul,
.list-more{
	overflow: hidden;
	padding:10px 0px;
}
.list-more .link-list-more{
	margin:10px 0px;
	text-align: center;
}
.img-list-more a{
	display: block;
	width: 252px;
	overflow: hidden;
}
/* SLIDE */
	.box-sidebar-right ul li .ic-facebook{
		background: url('../images/social-fb.png') no-repeat 0 0;
	}
	.box-sidebar-right ul li .ic-blogger{
		background: url('../images/social-blogger.png') no-repeat 0 0;
	}
	.box-sidebar-right ul li .ic-slideshare{
		background: url('../images/social-slideshare.png') no-repeat 0 0;
	}
	.box-sidebar-right ul li .ic-youtube{
		background: url('../images/social-youtube.png') no-repeat 0 0;
	}
	.box-sidebar-right ul li .ic-google-plus{
		background: url('../images/social-google-plus.png') no-repeat 0 0;
	}

/* TOP */
.title-top-more{
	background-color: #950700;
	color: #fff;
	text-align: center;
	margin: 0px;
	padding: 10px 0px;
}
.pagination{
	margin: 0 auto;
	text-align: center;
}
.box-top{
	-webkit-box-shadow: 1px 5px 18px -1px rgba(0,0,0,0.47);
-moz-box-shadow: 1px 5px 18px -1px rgba(0,0,0,0.47);
box-shadow: 1px 5px 18px -1px rgba(0,0,0,0.47);
margin-top: 16px;
}
.box-top2{
	margin-top:10px;
}
.box-top,.box-top2{
	overflow: hidden;
}
.box-top2 ul li{
	list-style-type: inherit;
  display: inline-block;
  margin: 5px 0px;
}
.box-top2 ul li a{
	background-color: #000;
	color:#fff;
	padding:5px 10px;
}
	/***** FOOTER ********/
.ft-mobile{
	display: none;
}
	.sitefooter {
		display: block;
    background: #f1f1f1
}
.sitefooter .wrap-links {
    margin-top: 10px;
    background: #980700;
    border-bottom: solid 1px #780500;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
}
.sitefooter .links {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 40px
}
.sitefooter .links li {
    float: left;
    margin-right: 30px;
}
.sitefooter .links a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 600;
    height: 30px;
    padding: 10px 10px 0;
}
.sitefooter .links a:hover {
    background: #780500;
}
.sitefooter .wrap-footer {
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}
.sitefooter .networks {
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.sitefooter .networks li {
    display: inline-block;
    margin-right: 9px;
    font-size: .685em;
    text-transform: uppercase;
}
.sitefooter .networks li:last-child {
    margin-right: 0;
}
.sitefooter .networks li img {
    height: 26px;
}
.sitefooter .networks li a:link {
    color: #666;
}
.sitefooter .copyright {
  	overflow: hidden;
}
.sitefooter .copyright p {
    font-size: .685em;
    color: #666;
    line-height: 1.4em;
    margin: 0 0 5px;
    padding: 0;
}
.sitefooter .developer {
    position: absolute;
    top: 0;
    right: 0;
}
.sitefooter .developer .title {
    color: #666;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}
.sitefooter .developer .logo {
    display: block;
    text-align: right;
    top: 20px;
}
	/** JS Circle progess **/
	.one.circle strong,
	.one.circle2 strong,
	.one.circle3 strong{
		    position: absolute;
		    top: 41px;
		    left: 3px;
		    width: 100%;
		    text-align: center;
		    line-height: 40px;
		    font-size: 29px;
		    font-weight: 100;
	}
